body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: rgb(52, 53, 65); */
}

#content {
  display: inline-block;
}

#player {
  padding: 8px;
  width: 200px;
  border-radius: 25%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

table {
  width: 300px;
}

td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

td svg {
  width: 80%;
  height: 80%;
  margin: 10%;
  transition: fill 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

@keyframes glow {
  0%,
  100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(120%);
  }
}

td.glowing svg {
  animation: glow 1s infinite;
}

.circle {
  filter: drop-shadow(0px 0px 5px red);
}

.cross {
  filter: drop-shadow(0px 0px 5px green);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#player.winner {
  font-size: 24px;
  width: 400px;
  font-family: "Aladin";
  border: solid 2px violet;
  filter: drop-shadow(0px 0px 6px violet);
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1);
  animation: pulse 2s infinite;
  color: black;
  text-shadow: unset;
  color: blue;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    filter: drop-shadow(0px 0px 6px violet);
  }

  70% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 8px white);
  }

  100% {
    transform: scale(0.98);
    filter: drop-shadow(0px 0px 10px violet);
  }
}

.btn-restart {
  background-color: transparent;
  background-color: transparent;
  margin-top: 32px;
  outline: none;
  border: solid 2px white;
  border-radius: 25%;
  padding: 8px;
  width: 150px;
  color: white;
  filter: drop-shadow(0 0 1px grey);
}

.btn-restart-free {
  background-color: white;
  color: blue;
  filter: drop-shadow(0 0 5px violet);
  font-weight: bold;
  border: solid 1px violet;
  cursor: pointer;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
