body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ddd; /* Hintergrundfarbe des gesamten Spielfelds */
}

#content {
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 300px; /* Feste Breite für das Spielfeld */
  border: 2px solid #ddd; /* Äußerer Rahmen um das gesamte Spielfeld entfernt */
}

td {
  border: 1px solid #fff; /* Weiße Linien zwischen den Zellen */
  width: 100px; /* Feste Breite für die Zellen */
  height: 100px; /* Feste Höhe für die Zellen */
  text-align: center;
  background-color: #ccc; /* Graue Hintergrundfarbe der Zellen */
  cursor: pointer; /* Ändert den Cursor beim Überfahren, um zu zeigen, dass es anklickbar ist */
}

svg {
  width: 80%; /* Breite der Symbole auf 80% der Zellenbreite */
  height: 80%; /* Höhe der Symbole auf 80% der Zellenhöhe */
  margin: 10%; /* Zentriert das Symbol innerhalb der Zelle */
}
